.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.unobtrusive {
  opacity: 50%;
}

.StatusLine a {
  color: #FFF;
}

.TimelineContainer {
  overflow: scroll;
  text-align: left;
}

/* Semantically incorrect */
.TimelineContainer > .unobtrusive {
  text-align: center;
}

.GroupTimelineItem {
  border: 1px solid #EEE;
  border-radius: 0.25em;
  margin: 1em;
}

.CommandTimelineItem-command {
  background-color: #EEEEEE;
  padding: 0.5em;
}

.InfoTimelineItem-info {
  color: #888;
  padding: 0.5em;
  font-style: italic;
}

.GuessTimelineItem {
  padding: 0.5em;
  font-style: italic;
}

.ResultTimelineItem {
  padding: 0.5em;
}

.CommandLine {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1em;
  text-align: center;
}

td {
  padding: 0.25em;
}

.MoreInfo {
  border-bottom: dotted;
}

.ItemName {
  font-weight: bold;
}

.status-Succeeded {
  color: #4A4;
}

.status-Failed {
  color: #A44;
}

.Object {
  cursor: pointer;
  text-decoration: underline;
}

.Object:hover {
  cursor: pointer;
  background-color: #FFFFEE;
}
